* {
    box-sizing: border-box;
}

body {
    background: #f2efea;
    padding: 30px;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

header > .menu {
    display: flex;
    align-items: center;
    flex-flow: column;

}

header > .menu > ul > li {
    color: #722726;
    font-size: 0.8rem;
    align-self: flex-start;
}

header > .logo {
    text-align: center;
    background: black;
    color: white;
    width: 160px;
    align-self: center;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

header h1 {
    text-align: center;
    color: white;
    font-size: 1.2em;

}
header h3{
        color: #6b6b6b;

}

header > .logo span {
    font-size: 1.6rem;
    align-self: center;
    margin: 5px;
}


ul {
    list-style: none;
    display: flex;

    flex-wrap: wrap;

}
img{
    max-width: 100%;
    height: auto;
}

main>.bikes-wrapper{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 3rem;
}
    .bike-card{
    background: white;
        padding: 15px;
}
.bike-card > .details{
    padding: 0 15px 15px 15px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
}
.bike-card>.card-header>#bike-type{
    border-bottom: 1px solid #d6d6d6;
    color: #686868;
    font-size: 1.5rem;
    letter-spacing: 5px;
        margin-bottom: 8px;

}
.bike-card>.details p{
        border-bottom: 1px solid gainsboro;
    color: #686868;
font-style: italic;
}
button{
    color: #683628;
    background-color: inherit;
    border: 1px solid #68423b;
    font-weight: 700;
    height: 40px;
    width: 120px;
    padding: 7px 5px;
    align-self: center;
    cursor: pointer;
}
#category{
    color: #6b6b6b;
    text-transform: uppercase;
    font-size: 1em;
    display: block;
    margin-bottom: -20px;
    font-weight: 900;
}
.colours-wrapper{
    position: relative;

}

#colours{
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    top: 40%;
    left: 22%;
}
@media screen and (min-width: 600px) {

    header > .menu {
        flex-flow: row;
        align-items: center;

    }

    header > .logo {

    align-self: flex-start;


}

}
